nav{
    background-color: purple;
    height: 9.5vh;
    width: 100%;
    padding-top: 10px;
}
nav span{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    gap: 15px;
    justify-content: center;
    list-style: none;
    margin-right: 35px;
}
nav ul li a{
    color: white;
    font-size: small;
}

